.content-container {
  margin-bottom: 50px;
}

#uncontrolled-tab-example {
  font-size: 17px;
}

#week1Div, #week2Div, #week1To4Div, #week5To8Div {
  max-width: 850px;
}

a:hover {
  cursor: pointer;
}

.exerciseResult {
  font-size: 18px;
}
