.jumbo {
  margin: 0 auto;
  width: 90%;
  padding-top: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.jumbo h1, p {
  padding-left: 5%;
  padding-right: 5%;
}

.jumbo h1 a {
  color: #00C853;

}
 .jumbo h1 a:hover {
   text-decoration: none;
   cursor: default;
 }

 .carousel {
   width: 853px;
   height: 568px;
   float: none;
   margin: 0 auto;
   margin-bottom: 20px;
 }
