.navbar {
  background-color: #f2f2f2;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-bottom:2px solid #00C853;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.link {
  display: block;
  color: #333333;
  padding: 13px 25px 5px 25px;
  font-size: 20px;
}

.link:hover {
  text-decoration: none;
  color: #00C853;
}

.link.dropdown {
  padding: 5px 0px 0px 15px;
}

.link.dropdown.signOut {
  padding-bottom: 5px;
  cursor: pointer;
}

.link.dropdown.signOut:hover {
  cursor: pointer;
}

.link.header {
  color: #00C853;
  font-size: 30px !important;
  padding-left: 25px;
  padding-right: 30px;
  padding-top: 15px;
  font-weight: bold;
  word-break: break-all;
}

.link.header:hover {
  color: #00E676
}

#nav-dropdown {
  color: #333333;
  padding-left: 25px;
  font-size: 20px;
}

#nav-dropdown:hover {
  color: #00C853;
}
