.diet-container {
  margin-left: 5%; /* To allow for phone screens */
  margin-right: 5%;
  padding-top: 10px;
}

.progressBar {
  width: 100%; /*100% of container*/
}

.submitButton.add {
  width: 80%;
  height: 35px;
  margin-left: 15px;
  padding-top: 3px;
}

.caloriesAndGoal {
  float: left;
  display: inline-block;
}

.caloriesAndGoal p {
  color: #000;
  padding: 5px 5px
}

.inputLine.addCalories {
  display: inline-flex;
  width: 100%;
  max-width: 400px;
}
