.jumbo {
  margin-left: 5%; /* To allow for phone screens */
  margin-right: 5%;
  margin-top: 20px;
  border-radius: 10px;
}

.jumbo h1, p {
  padding-left: 50px;
  padding-right: 50px;
}

.jumbo h1 a {
  color: #00C853;

}
 .jumbo h1 a:hover {
   text-decoration: none;
 }
