
.container {
  width: 400px;
  padding-bottom: 50px;
  box-shadow: 0 0 20px #000;
}

.container:before {
  background: transparent;
  box-shadow: 0 0 20px #000;
}

.buttonChoice {
  font: Gotham-medium;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}



.inputLine {
  text-align: left;
  margin-bottom: 20px;
  width: 355px;
}

.alert {
  width: 355px;
}

h4 {
  color: #212121;
  padding-left: 2px;
}

.submitButton {
  width: 355px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  margin-right: 20px;
  background-color: #00C853;
  transition: all 0.2s ease 0s;
}

.submitButton:hover {
  background-color: #00e660;
  transition: all 0.2s ease 0s;
}

.submitButton:focus {
  background-color: #00C853;
}

.radio {
  margin-top: 0px;
}

.btn-default { /*Radio*/
  padding-right: 20px;
}

.forgotPassword:hover {
  cursor: pointer;
}

.passwordResetButton {
  width: 200px;
  padding: 10px 20px 10px 20px;
  margin-top: 15px;
  font-size: 20px;
  background-color: #00C853;
  transition: all 0.2s ease 0s;
}

.passwordResetButton:hover {
  background-color: #00e660;
  transition: all 0.2s ease 0s;
}

.passwordModal {
  display: inline-block;
}
