.container {
  width: 400px;
}

.inputLine {
  text-align: left;
  margin-bottom: 20px;
  width: 355px;
}

.alert {
  width: 355px;
}

h4 {
  color: #212121;
}

.submitButton {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  width: 200px;
  margin-right: 20px;
  background-color: #00C853;
  transition: all 0.2s ease 0s;
}

.submitButton:hover {
  background-color: #00e660;
  transition: all 0.2s ease 0s;
}
